{% extends 'base.html.twig' %}

{% block title %}Mijn Profiel{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Welkom, {{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        <p>Rol: {{ user.role }}</p>
    </div>
{% endblock %}
